/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 333px;
  background: linear-gradient(-45deg, transparent 234px, #e50000 0); }
  .header_logo h1 {
    margin: 0 145px 0 50px;
    width: 80%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 82px;
    text-transform: uppercase; }

.header_call {
  width: 40%;
  margin-bottom: 50px; }
  .header_call ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none; }
    .header_call ul span {
      color: #ff0000; }
    .header_call ul li {
      font-family: "Open Sans";
      font-size: 36px;
      font-weight: 600;
      line-height: 71px;
      color: #2d3738; }
    .header_call ul a {
      text-decoration: none;
      color: #2d3738;
      font-family: "Open Sans";
      font-size: 30px;
      font-weight: 400;
      line-height: 82px; }

.main_background {
  margin-top: -70px;
  background: url("../images/nalogibiznes.png") no-repeat;
  background-size: cover;
  height: 720px; }

.main_about {
  background-color: #060808;
  opacity: 0.78; }

.main_about-element {
  text-align: center;
  padding: 105px 0 94px 0; }
  .main_about-element h1 {
    margin-bottom: 75px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 79px;
    font-weight: 700;
    line-height: 67px;
    text-transform: uppercase; }
    .main_about-element h1 span {
      color: #e30000; }
  .main_about-element p {
    margin: 0 auto;
    width: 85%;
    opacity: 0.9;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 46px;
    font-weight: 300;
    line-height: 67px; }

.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.main_content-ready {
  margin-top: 165px; }
  .main_content-ready h3 {
    margin-left: 50px;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #2d3738;
    text-transform: uppercase; }
    .main_content-ready h3 span {
      color: #fc0000; }
  .main_content-ready ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none; }
    .main_content-ready ul li {
      margin-top: 50px; }
      .main_content-ready ul li h4 {
        font-family: "Open Sans";
        line-height: 40px;
        color: #ff0000;
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase; }
      .main_content-ready ul li p {
        font-family: "Open Sans";
        line-height: 40px;
        color: #2d3738;
        font-size: 28px;
        font-weight: 300; }
      .main_content-ready ul li i {
        float: left;
        margin-right: 20px;
        border: 1px solid #e30000;
        border-radius: 50%;
        padding: 12px;
        color: #fff;
        background-color: #e40000; }

.main_content-business {
  margin: 165px 50px 0 50px; }
  .main_content-business h4 {
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    color: #2d3738; }
    .main_content-business h4 span {
      color: #e60000; }

.main_content-business-images {
  margin-top: 50px;
  background: url("../images/576-726.jpg") no-repeat;
  height: 488px; }
